:root {
  --main-font: "Ubuntu", sans-serif;
  --border: 1px solid #121212e5;
  --color-primary: #121212;
  --color-secondary: #121212e5;
  --color-test: tomato;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  color: #121212;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.active {
  display: none;
}

.btnWhite:hover {
  background-color: black;
  color: white;
}

.btnBlack:hover {
  background-color: red;
}

.btnTransparent:hover {
  background-color: white;
  font-size: 40px;
}

.body {
  position: relative;
}

.caps {
  text-transform: uppercase;
}

.container {
  padding: 40px 16px;
}

.hidden {
  display: none;
}

img {
  width: 100%;
}

.transition {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

ul {
  list-style: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  border-bottom: var(--border);
}
.header .links {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header .icon {
  width: 48px;
  height: 48px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .left {
  border-right: var(--border);
}
.header .right {
  border-left: var(--border);
}
.header .links a:hover {
  color: red;
  -webkit-perspective: 100%;
          perspective: 100%;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.headerMenu {
  position: absolute;
  background-color: #fff;
  width: 100vw;
  z-index: 10;
  display: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.headerMenu .mainList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.headerMenu .mainList .link {
  font-size: 28px;
  padding: 36px 5vw;
  border-bottom: var(--border);
}
.headerMenu .secondList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5vw 0;
  border-bottom: var(--border);
}
.headerMenu .secondList .link {
  font-size: 18px;
  padding: 10px 5vw;
}
.headerMenu .socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5vw 0;
  border-bottom: var(--border);
}
.headerMenu .socialLinks .img {
  height: 28px;
}

.active {
  display: block;
}

.mainAndCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: -1;
}
.mainAndCards .main .top {
  border-bottom: var(--border);
  margin-bottom: 16px;
}
.mainAndCards .main .top .title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 500;
}
.mainAndCards .main .top .title .newLine {
  display: block;
}
.mainAndCards .main .top .title .regIcon {
  font-size: 16px;
  -webkit-transform: translate(2px, -16px);
          transform: translate(2px, -16px);
}
.mainAndCards .main .top .text {
  font-size: 16px;
  color: var(--color-secondary);
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 24px;
}
.mainAndCards .main .top .text span {
  font-style: italic;
}
.mainAndCards .main .bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.mainAndCards .main .bottom .imgBlock {
  padding-right: 16px;
}
.mainAndCards .main .bottom .textBlock {
  padding-left: 16px;
  border-left: var(--border);
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.mainAndCards .main .bottom .textBlock .text {
  font-size: 14px;
}
.mainAndCards .cards {
  border-top: var(--border);
}
.mainAndCards .cards .card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  border-bottom: var(--border);
  overflow: hidden;
  height: 50vw;
}
.mainAndCards .cards .card .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.mainAndCards .cards .card .text .title {
  font-size: 24px;
  font-weight: 400;
  padding: 0 16px;
}
.mainAndCards .cards .card .text .shopNow {
  position: absolute;
  bottom: 10px;
  width: 100%;
}
.mainAndCards .cards .card .text .shopNow .link {
  font-size: 14px;
}
.mainAndCards .cards .card .text .shopNow .link:hover {
  text-decoration: underline;
}
.mainAndCards .cards .card .text .shopNow .arrowIcon {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.mainAndCards .cards .card .text .shopNow .fa-arrow-right {
  -webkit-transform: translate(4px, 3px);
          transform: translate(4px, 3px);
}
.mainAndCards .cards .card .text .shopNow .fa-arrow-left {
  -webkit-transform: translate(-4px, 3px);
          transform: translate(-4px, 3px);
}
.mainAndCards .cards .card .imgBlock {
  overflow: hidden;
}
.mainAndCards .cards .card .imgBlock .img {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.mainAndCards .cards .card .right {
  border-left: var(--border);
}
.mainAndCards .cards .card:hover .imgBlock .img {
  scale: 1.2;
}
.mainAndCards .cards .card:hover .text .fa-arrow-left {
  -webkit-transform: translate(-10px, 3px);
          transform: translate(-10px, 3px);
}
.mainAndCards .cards .card:hover .text .fa-arrow-right {
  -webkit-transform: translate(10px, 3px);
          transform: translate(10px, 3px);
}

.aboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: var(--border);
}
.aboutUs .mainTitleBlock {
  border-bottom: var(--border);
}
.aboutUs .mainTitleBlock .mainTitle {
  font-size: 30px;
  font-weight: 700;
}
.aboutUs .textBlock .subtitle {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 24px;
}
.aboutUs .textBlock .title {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 16px;
}
.aboutUs .textBlock .text {
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
  margin-bottom: 64px;
  color: var(--color-secondary);
}
.aboutUs .textBlock .btn {
  padding: 16px 24px 14px;
  border: var(--border);
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
}

.whyUs .mainTitleBlock {
  border-bottom: var(--border);
}
.whyUs .mainTitleBlock .mainTitle {
  font-size: 30px;
  font-weight: 700;
}
.whyUs .cards {
  border-bottom: var(--border);
}
.whyUs .cards .title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 16px;
}
.whyUs .cards .text {
  color: var(--color-secondary);
  line-height: 140%;
  font-weight: 300;
}

.contacts .socialBlock {
  border-bottom: var(--border);
}
.contacts .socialBlock .imgBlock {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.contacts .socialBlock .imgBlock .img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contacts .socialBlock .socialLinksBlock {
  padding: 16px;
}
.contacts .socialBlock .socialLinksBlock .text {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 24px;
}
.contacts .socialBlock .socialLinksBlock .socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.contacts .socialBlock .socialLinksBlock .socialIcons a {
  height: 100%;
}
.contacts .socialBlock .socialLinksBlock .socialIcons .img {
  height: 20px;
}
.contacts .contactsInfo .callUs {
  border-bottom: var(--border);
}
.contacts .contactsInfo .callUs .title {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 24px;
}
.contacts .contactsInfo .callUs .text {
  font-size: 18px;
  margin-bottom: 16px;
}
.contacts .contactsInfo .callUs .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.contacts .contactsInfo .callUs .form .telInput {
  padding: 12px 16px;
  color: #808080;
  border: 1px solid #d2d2d7;
}
.contacts .contactsInfo .callUs .form .telInput:focus {
  outline: none;
}
.contacts .contactsInfo .callUs .form .btn {
  border: none;
  padding: 16px 24px 14px;
  background-color: #000;
  color: white;
  font-weight: 300;
  font-size: 14px;
}
.contacts .contactsInfo .contactInfoBlock .subtitle {
  font-size: 24px;
  font-weight: 400;
  border-bottom: var(--border);
  padding: 16px;
}
.contacts .contactsInfo .contactInfoBlock .infoBlock {
  border-bottom: var(--border);
}
.contacts .contactsInfo .contactInfoBlock .infoBlock .phones,
.contacts .contactsInfo .contactInfoBlock .infoBlock .addressInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.contacts .contactsInfo .contactInfoBlock .infoBlock .phones .phoneLink {
  font-weight: 500;
}
.contacts .contactsInfo .contactInfoBlock .infoBlock .phones .phoneIcon {
  font-size: 14px;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  margin-right: 4px;
}
.contacts .contactsInfo .contactInfoBlock .infoBlock .addressInfo .time {
  font-size: 12px;
}
.contacts .contactsInfo .contactInfoBlock .infoBlock .addressInfo .address {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.ourService .mainTitle {
  font-size: 30px;
  font-weight: 700;
  border-bottom: var(--border);
}
.ourService .infoBlock .imgBlock {
  width: 100%;
  height: 420px;
  overflow: hidden;
}
.ourService .infoBlock .imgBlock .img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.ourService .infoBlock .textBlock {
  text-align: center;
}
.ourService .infoBlock .textBlock .subtitle {
  font-size: 12px;
  margin-bottom: 24px;
}
.ourService .infoBlock .textBlock .title {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 24px;
}
.ourService .infoBlock .textBlock .text {
  color: var(--color-secondary);
  line-height: 140%;
  margin-bottom: 64px;
}
.ourService .infoBlock .textBlock .btn {
  padding: 16px 24px 14px;
  background-color: transparent;
  border: var(--border);
  width: 100%;
  font-weight: 400;
}

.serviceBgBlock {
  position: relative;
}
.serviceBgBlock .textBlock {
  text-align: center;
}
.serviceBgBlock .textBlock .subtitle {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 24px;
  color: white;
}
.serviceBgBlock .textBlock .title {
  color: white;
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 16px;
}
.serviceBgBlock .textBlock .text {
  color: white;
  line-height: 140%;
  margin-bottom: 64px;
}
.serviceBgBlock .textBlock .btn {
  border: 2px solid rgba(255, 255, 255, 0.7098039216);
  color: white;
  background-color: transparent;
  width: 100%;
  padding: 16px 16px 14px;
}
.serviceBgBlock .bgImgContainer::before {
  content: "";
  background-image: url(/images/service_section.webp);
  z-index: -1;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}
.serviceBgBlock .bgImgContainer::after {
  content: "";
  background-color: #000;
  z-index: -1;
  height: 50vw;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.reviewsWrap {
  padding: 0 16px;
  border-bottom: var(--border);
}
.reviewsWrap .reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviewsWrap .reviews .logo {
  width: 77px;
  margin-bottom: 8px;
}
.reviewsWrap .reviews .subtitle {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 24px;
}
.reviewsWrap .reviews .title {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 16px;
}
.reviewsWrap .reviews .oneReview {
  margin-bottom: 64px;
}
.reviewsWrap .reviews .oneReview .text {
  font-size: 22px;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 16px;
}
.reviewsWrap .reviews .oneReview .reviewer {
  font-size: 16px;
}
.reviewsWrap .reviews .btnWrap {
  padding: 0 16px;
  width: 100%;
}
.reviewsWrap .reviews .link {
  border: var(--border);
  display: block;
  padding: 16px 24px 14px;
  font-size: 14px;
}

.footer .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  border-bottom: var(--border);
}
.footer .card .text {
  line-height: 140%;
  font-weight: 300;
}
.footer .card .text span {
  display: block;
}
.footer .card .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.footer .card .form .input {
  color: #808080;
  font-size: 14px;
  padding: 12px 16px;
}
.footer .card .form .btn {
  border: none;
  padding: 16px 24px 14px;
  background-color: #000;
  color: white;
  font-weight: 300;
  font-size: 14px;
}
.footer .card .innerBlock .title {
  margin-bottom: 16px;
}
.footer .card .innerBlock .socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
.footer .card .innerBlock .socialIcons .img {
  height: 20px;
}
.footer .card .listEl {
  margin-bottom: 8px;
}
.footer .card .listEl .linkText {
  color: var(--color-primary);
}
.footer .card .listEl:last-child {
  margin: 0;
}
.footer .card .title {
  color: #808080;
  font-size: 18px;
  font-weight: 400;
}
.footer .card .innerBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.footer .card .subtitle {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
}
.footer .card .linkText {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
}
.footer .card:last-child {
  border: none;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 80px;
  }
  .header {
    height: 56px;
  }
  .header .icon {
    width: 56px;
    height: 56px;
    font-size: 18px;
  }
  .mainAndCards .main .top {
    margin-bottom: 24px;
  }
  .mainAndCards .main .top .title {
    font-size: 67px;
  }
  .mainAndCards .main .top .title .regIcon {
    font-size: 28px;
    -webkit-transform: translate(3px, -22px);
            transform: translate(3px, -22px);
  }
  .mainAndCards .main .top .text {
    font-size: 18px;
    margin-bottom: 54px;
  }
  .mainAndCards .main .bottom .imgBlock {
    overflow: hidden;
    padding-right: 24px;
    height: 32vw;
  }
  .mainAndCards .main .bottom .textBlock {
    padding-left: 24px;
  }
  .mainAndCards .cards .card .text .title {
    font-size: 38px;
  }
  .mainAndCards .cards .card .text .link {
    font-size: 16px;
  }
  .mainAndCards .cards .card .text .arrowIcon {
    font-size: 16px;
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  .aboutUs .mainTitleBlock .mainTitle {
    font-size: 50px;
  }
  .aboutUs .textBlock .subtitle {
    font-size: 14px;
  }
  .aboutUs .textBlock .title {
    font-size: 38px;
  }
  .aboutUs .textBlock .btn {
    width: auto;
    display: inline-block;
  }
  .whyUs .mainTitleBlock .mainTitle {
    font-size: 50px;
  }
  .whyUs .cards .card .title {
    font-size: 38px;
  }
  .contacts .socialBlock .imgBlock {
    aspect-ratio: 3/2;
  }
  .contacts .contactsInfo .callUs .title {
    font-size: 50px;
  }
  .contacts .contactsInfo .callUs .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    gap: 16px;
  }
  .contacts .contactsInfo .callUs .form .telInput {
    width: 100%;
  }
  .contacts .contactsInfo .callUs .form .btn {
    width: 100%;
  }
  .contacts .contactsInfo .contactInfoBlock {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
  .contacts .contactsInfo .contactInfoBlock .infoBlock .subtitle {
    font-size: 38px;
  }
  .contacts .contactsInfo .contactInfoBlock .infoBlock .addressInfo .time {
    font-size: 14px;
  }
  .contacts .contactsInfo .contactInfoBlock .infoBlock .addressInfo .address {
    font-size: 16px;
  }
  .contacts .contactsInfo .contactInfoBlock .infoBlock:last-child {
    border-left: var(--border);
  }
  .ourService .mainTitle {
    font-size: 50px;
    text-align: center;
  }
  .ourService .infoBlock .textBlock .subtitle {
    font-size: 14px;
  }
  .ourService .infoBlock .textBlock .title {
    font-size: 50px;
  }
  .ourService .infoBlock .textBlock .text {
    font-size: 18px;
  }
  .ourService .infoBlock .textBlock .btn {
    display: inline-block;
    width: auto;
    font-size: 16px;
  }
  .serviceBgBlock .textBlock .subtitle {
    font-size: 14px;
  }
  .serviceBgBlock .textBlock .title {
    font-size: 50px;
  }
  .serviceBgBlock .textBlock .text {
    font-size: 18px;
  }
  .serviceBgBlock .textBlock .btn {
    display: inline-block;
    width: auto;
    font-size: 16px;
  }
  .reviewsWrap .reviews .subtitle {
    font-size: 14px;
  }
  .reviewsWrap .reviews .title {
    font-size: 50px;
  }
  .reviewsWrap .reviews .oneReview .text {
    font-size: 28px;
  }
  .reviewsWrap .reviews .btnWrap {
    width: auto;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer .card:nth-child(2n) {
    border-left: var(--border);
  }
  .footer .card {
    gap: 24px;
    padding: 40px;
  }
  .footer .card .title {
    font-size: 21px;
  }
  .footer .card .subtitle {
    font-size: 16px;
  }
  .footer .card .linkText {
    font-size: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: fixed;
    z-index: 20;
    background-color: #fff;
    top: 0;
  }
  .header .mobile {
    display: none;
  }
  .header .left,
  .header .right {
    border: none;
    width: 25vw;
    text-align: center;
  }
  .header .left .hidden,
  .header .right .hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .left .hidden .desktopHeaderEl,
  .header .right .hidden .desktopHeaderEl {
    width: 12.5vw;
    padding: 34px 32px;
    position: relative;
    overflow: hidden;
  }
  .header .left .hidden .desktopHeaderEl .linkNormal,
  .header .right .hidden .desktopHeaderEl .linkNormal {
    position: absolute;
    padding: 4px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .header .left .hidden .desktopHeaderEl .linkHover,
  .header .right .hidden .desktopHeaderEl .linkHover {
    position: absolute;
    padding: 4px;
    color: #808080;
    top: 150%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .header .left .hidden .desktopHeaderEl:hover .linkHover,
  .header .right .hidden .desktopHeaderEl:hover .linkHover {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .header .left .hidden .desktopHeaderEl:hover .linkNormal,
  .header .right .hidden .desktopHeaderEl:hover .linkNormal {
    -webkit-transform: translate(-50%, -100px);
            transform: translate(-50%, -100px);
  }
  .header .left {
    grid-column-start: 1;
  }
  .header .left .desktopHeaderEl {
    border-right: var(--border);
  }
  .header .right {
    grid-column-start: 4;
  }
  .header .right .desktopHeaderEl {
    border-left: var(--border);
  }
  .mainAndCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100vh;
  }
  .mainAndCards .main {
    height: 50vw;
    position: sticky;
    top: 0;
    overflow-y: auto;
  }
  .mainAndCards .main .bottom .imgBlock {
    height: auto;
  }
  .mainAndCards .cards {
    border-top: none;
    border-left: var(--border);
    height: 125vw;
  }
  .mainAndCards .cards .card {
    height: 25vw;
  }
  .mainAndCards .cards .card:last-child {
    border-bottom: none;
  }
  .aboutUs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: var(--border);
  }
  .aboutUs .mainTitleBlock {
    border-bottom: none;
  }
  .aboutUs .textBlock {
    border-left: var(--border);
  }
  .whyUs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .whyUs .rightColumn {
    border-left: var(--border);
  }
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    overflow: hidden;
    height: 48vw;
  }
  .contacts .socialBlock {
    width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-left: var(--border);
  }
  .contacts .socialBlock .imgBlock {
    aspect-ratio: unset;
    height: auto;
  }
  .contacts .socialBlock .socialLinksBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding: 0;
  }
  .contacts .socialBlock .socialLinksBlock .text {
    width: 25vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .contacts .socialBlock .socialLinksBlock .socialIcons {
    width: 25vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-left: var(--border);
    padding: 20px 0;
  }
  .contacts .contactsInfo {
    width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contacts .contactsInfo .callUs {
    border: none;
  }
  .contacts .contactsInfo .contactInfoBlock {
    border-top: var(--border);
  }
  .ourService {
    border-bottom: var(--border);
  }
  .ourService .infoBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50vw;
  }
  .ourService .infoBlock .imgBlock {
    height: 100%;
  }
  .ourService .infoBlock .textBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .serviceBgBlock {
    height: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .serviceBgBlock .textBlock {
    width: 750px;
  }
  .footer {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer .card:nth-child(3) {
    border-left: var(--border);
  }
}/*# sourceMappingURL=main.css.map */