:root {
  --main-font: 'Ubuntu', sans-serif;
  --border: 1px solid #121212e5;
  --color-primary: #121212;
  --color-secondary: #121212e5;
  --color-test: tomato;
}
// RESET & GLOBAL
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  color: #121212;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
.caps {
  text-transform: uppercase;
}
.container {
  padding: 40px 16px;
}
.hidden {
  display: none;
}
img {
  width: 100%;
}
.transition {
  transition: all 0.4s ease-in-out;
}
ul {
  list-style: none;
}
// =====

// ===== Header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  border-bottom: var(--border);
  .icon {
    width: 48px;
    height: 48px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left {
    border-right: var(--border);
  }
  .right {
    border-left: var(--border);
  }
}
// ===== Main
.mainAndCards {
  display: flex;
  flex-direction: column;
  .main {
    .top {
      border-bottom: var(--border);
      margin-bottom: 16px;
      .title {
        margin-bottom: 16px;
        font-size: 40px;
        font-weight: 500;
        .newLine {
          display: block;
        }
        .regIcon {
          font-size: 16px;
          transform: translate(2px, -16px);
        }
      }
      .text {
        font-size: 16px;
        color: var(--color-secondary);
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 24px;
        span {
          font-style: italic;
        }
      }
    }
    .bottom {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .imgBlock {
        padding-right: 16px;
      }
      .textBlock {
        padding-left: 16px;
        border-left: var(--border);
        font-weight: 300;
        display: flex;
        justify-content: end;
        align-items: end;
        .text {
          font-size: 14px;
        }
      }
    }
  }
  .cards {
    border-top: var(--border);
    .card {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      position: relative;
      border-bottom: var(--border);
      height: 50vw;
      .text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .title {
          font-size: 24px;
          font-weight: 400;
          padding: 0 16px;
        }
        .link {
          position: absolute;
          bottom: 10px;
          font-size: 14px;
        }
        .arrowIcon {
          font-size: 14px;
          transform: translateY(2px);
        }
      }
      .imgBlock {
        overflow: hidden;
        .img {
          object-fit: cover;
          height: 100%;
        }
      }
      .right {
        border-left: var(--border);
      }
    }
  }
}

// ===== About Us
.aboutUs {
  display: flex;
  flex-direction: column;
  border-bottom: var(--border);
  .mainTitleBlock {
    border-bottom: var(--border);
    .mainTitle {
      font-size: 30px;
      font-weight: 700;
    }
  }
  .textBlock {
    .subtitle {
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 24px;
    }
    .title {
      font-size: 26px;
      font-weight: 400;
      margin-bottom: 16px;
    }
    .text {
      font-size: 16px;
      font-weight: 300;
      line-height: 140%;
      margin-bottom: 64px;
      color: var(--color-secondary);
    }
    .btn {
      padding: 16px 24px 14px;
      border: var(--border);
      display: block;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      width: 100%;
    }
  }
}
// ===== Why Choose Us
.whyUs {
  .mainTitleBlock {
    border-bottom: var(--border);
    .mainTitle {
      font-size: 30px;
      font-weight: 700;
    }
  }
  .cards {
    border-bottom: var(--border);
    .title {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 16px;
    }
    .text {
      color: var(--color-secondary);
      line-height: 140%;
      font-weight: 300;
    }
  }
}
// ===== Contacts
.contacts {
  .socialBlock {
    border-bottom: var(--border);
    .imgBlock {
      width: 100%;
      aspect-ratio: 1/1;
      overflow: hidden;
      .img {
        height: 100%;
        object-fit: cover;
      }
    }
    .socialLinksBlock {
      padding: 16px;
      .text {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 24px;
      }
      .socialIcons {
        display: flex;
        gap: 32px;
        .img {
          height: 20px;
        }
      }
    }
  }
  .contactsInfo {
    .callUs {
      border-bottom: var(--border);
      .title {
        font-size: 34px;
        font-weight: 500;
        margin-bottom: 24px;
      }
      .text {
        font-size: 18px;
        margin-bottom: 16px;
      }
      .form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .telInput {
          padding: 12px 16px;
          color: #808080;
          border: 1px solid #d2d2d7;
        }
        .telInput:focus {
          outline: none;
        }
        .btn {
          border: none;
          padding: 16px 24px 14px;
          background-color: #000;
          color: white;
          font-weight: 300;
          font-size: 14px;
        }
      }
    }
    .contactInfoBlock {
      .subtitle {
        font-size: 24px;
        font-weight: 400;
        border-bottom: var(--border);
        padding: 16px;
      }
      .infoBlock {
        border-bottom: var(--border);
        .phones,
        .addressInfo {
          display: flex;
          flex-direction: column;
          gap: 16px;
          //   border-bottom: var(--border);
        }
        .phones {
          .phoneLink {
            font-weight: 500;
          }
          .phoneIcon {
            font-size: 14px;
            transform: translateY(1px);
            margin-right: 4px;
          }
        }
        .addressInfo {
          .time {
            font-size: 12px;
          }
          .address {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
          }
        }
      }
    }
  }
}
// ===== Our Service
.ourService {
  .mainTitle {
    font-size: 30px;
    font-weight: 700;
    border-bottom: var(--border);
  }
  .infoBlock {
    .imgBlock {
      width: 100%;
      height: 420px;
      overflow: hidden;
      .img {
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
    .textBlock {
      text-align: center;
      .subtitle {
        font-size: 12px;
        margin-bottom: 24px;
      }
      .title {
        font-size: 34px;
        font-weight: 500;
        margin-bottom: 24px;
      }
      .text {
        color: var(--color-secondary);
        line-height: 140%;
        margin-bottom: 64px;
      }
      .btn {
        padding: 16px 24px 14px;
        background-color: transparent;
        border: var(--border);
        width: 100%;
        font-weight: 400;
      }
    }
  }
}
// ===== Service 2
.serviceBgBlock {
  position: relative;
  .textBlock {
    text-align: center;
    .subtitle {
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 24px;
      color: white;
    }
    .title {
      color: white;
      font-size: 34px;
      font-weight: 500;
      margin-bottom: 16px;
    }
    .text {
      color: white;
      line-height: 140%;
      margin-bottom: 64px;
    }
    .btn {
      border: 2px solid #ffffffb5;
      color: white;
      background-color: transparent;
      width: 100%;
      padding: 16px 16px 14px;
    }
  }
  .bgImgContainer::before {
    content: '';
    background-image: url(/images/service_section.webp);
    z-index: -1;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    filter: saturate(0.5);
    opacity: 0.9;
  }
}
// ===== Reviews
.reviewsWrap {
  padding: 0 16px;
  border-bottom: var(--border);
  .reviews {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    .logo {
      width: 77px;
      margin-bottom: 8px;
    }
    .subtitle {
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 24px;
    }
    .title {
      font-size: 34px;
      font-weight: 500;
      margin-bottom: 16px;
    }
    .oneReview {
      margin-bottom: 64px;
      .text {
        font-size: 22px;
        font-style: italic;
        font-weight: 300;
        margin-bottom: 16px;
      }
      .reviewer {
        font-size: 16px;
      }
    }
    .btnWrap {
      padding: 0 16px;
      width: 100%;
    }
    .link {
      border: var(--border);
      display: block;
      padding: 16px 24px 14px;
      font-size: 14px;
    }
  }
}
// ===== Footer
.footer {
  .card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-bottom: var(--border);
    // card1
    .text {
      line-height: 140%;
      font-weight: 300;
      span {
        display: block;
      }
    }
    .form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .input {
        color: #808080;
        font-size: 14px;
        padding: 12px 16px;
      }
      .btn {
        border: none;
        padding: 16px 24px 14px;
        background-color: #000;
        color: white;
        font-weight: 300;
        font-size: 14px;
      }
    }
    // card2
    .innerBlock {
      .title {
        margin-bottom: 16px;
      }
      .socialIcons {
        display: flex;
        gap: 32px;
        .img {
          height: 20px;
        }
      }
    }
    // card3
    .listEl {
      margin-bottom: 8px;
      .linkText {
        color: var(--color-primary);
      }
    }
    .listEl:last-child {
      margin: 0;
    }
    // global cards 2-4
    .title {
      color: #808080;
      font-size: 18px;
      font-weight: 400;
    }
    .innerBlock {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    .subtitle {
      color: #808080;
      font-size: 14px;
      font-weight: 400;
    }
    .linkText {
      font-style: normal;
      font-size: 14px;
      font-weight: 400;
    }
  }
  .card:last-child {
    border: none;
  }
}
// ===== ===== =====
// Media querys
// 768px+
@media screen and (min-width: 768px) {
  //   ===== Global padding
  .container {
    padding: 80px;
  }
  // ===== Header
  .header {
    height: 56px;
    .icon {
      width: 56px;
      height: 56px;
      font-size: 18px;
    }
  }
  // ===== Main
  .mainAndCards {
    .main {
      .top {
        margin-bottom: 24px;
        .title {
          font-size: 67px;
          .regIcon {
            font-size: 28px;
            transform: translate(3px, -22px);
          }
        }
        .text {
          font-size: 18px;
          margin-bottom: 54px;
        }
      }
      .bottom {
        .imgBlock {
          overflow: hidden;
          padding-right: 24px;
          height: 32vw;
        }
        .textBlock {
          padding-left: 24px;
        }
      }
    }
    .cards {
      .card {
        .text {
          .title {
            font-size: 38px;
          }
          .link {
            font-size: 16px;
          }
          .arrowIcon {
            font-size: 16px;
            transform: translateY(3px);
          }
        }
      }
    }
  }
  // ===== About Us
  .aboutUs {
    .mainTitleBlock {
      .mainTitle {
        font-size: 50px;
      }
    }
    .textBlock {
      .subtitle {
        font-size: 14px;
      }
      .title {
        font-size: 38px;
      }
      .btn {
        width: auto;
        display: inline-block;
      }
    }
  }
  // ===== Why Choose Us
  .whyUs {
    .mainTitleBlock {
      .mainTitle {
        font-size: 50px;
      }
    }
    .cards {
      .card {
        .title {
          font-size: 38px;
        }
      }
    }
  }
  // ===== Contacts
  .contacts {
    .socialBlock {
      .imgBlock {
        aspect-ratio: 3/2;
      }
    }
    .contactsInfo {
      .callUs {
        .title {
          font-size: 50px;
        }
        .form {
          display: flex;
          flex-direction: row;
          width: 100%;
          gap: 16px;
          .telInput {
            width: 100%;
          }
          .btn {
            width: 100%;
          }
        }
      }
      .contactInfoBlock {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        .infoBlock {
          .subtitle {
            font-size: 38px;
          }
          .addressInfo {
            .time {
              font-size: 14px;
            }
            .address {
              font-size: 16px;
            }
          }
        }
        .infoBlock:last-child {
          border-left: var(--border);
        }
      }
    }
  }
  // ===== Our Service
  .ourService {
    .mainTitle {
      font-size: 50px;
      text-align: center;
    }
    .infoBlock {
      .textBlock {
        .subtitle {
          font-size: 14px;
        }
        .title {
          font-size: 50px;
        }
        .text {
          font-size: 18px;
        }
        .btn {
          display: inline-block;
          width: auto;
          font-size: 16px;
        }
      }
    }
  }
  // ===== Service 2
  .serviceBgBlock {
    .textBlock {
      .subtitle {
        font-size: 14px;
      }
      .title {
        font-size: 50px;
      }
      .text {
        font-size: 18px;
      }
      .btn {
        display: inline-block;
        width: auto;
        font-size: 16px;
      }
    }
  }
  // ===== Reviews
  .reviewsWrap {
    .reviews {
      .subtitle {
        font-size: 14px;
      }
      .title {
        font-size: 50px;
      }
      .oneReview {
        .text {
          font-size: 28px;
        }
      }
      .btnWrap {
        width: auto;
      }
    }
  }
  // ===== Footer
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .card:nth-child(2n) {
      border-left: var(--border);
    }
    .card {
      gap: 24px;
      padding: 40px;
      .title {
        font-size: 21px;
      }
      .subtitle {
        font-size: 16px;
      }
      .linkText {
        font-size: 16px;
      }
    }
  }
}
