:root {
  --main-font: 'Ubuntu', sans-serif;
  --border: 1px solid #121212e5;
  --color-primary: #121212;
  --color-secondary: #121212e5;
  --color-test: tomato;
}
// RESET & GLOBAL
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  color: #121212;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
.active {
  display: none;
}
.btnWhite:hover {
  background-color: black;
  color: white;
}
.btnBlack:hover {
  // background-color: var(--color-primary);
  background-color: red;
}
.btnTransparent:hover {
  background-color: white;
  font-size: 40px;
}
.body {
  position: relative;
}
.caps {
  text-transform: uppercase;
}
.container {
  padding: 40px 16px;
}
.hidden {
  display: none;
}
img {
  width: 100%;
}
.transition {
  transition: all 0.4s ease-in-out;
}
ul {
  list-style: none;
}
// =====

// ===== Header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  border-bottom: var(--border);
  .links {
    transition: all 0.4s ease-in-out;
  }
  .icon {
    width: 48px;
    height: 48px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left {
    border-right: var(--border);
  }
  .right {
    border-left: var(--border);
  }
  .links a:hover {
    color: red;
    perspective: 100%;
    transform: rotateX(180deg);
  }
}
// ===== Header Dropdown Menu
.headerMenu {
  position: absolute;
  background-color: #fff;
  width: 100vw;
  z-index: 10;
  display: none;
  transition: all 0.4s ease-in-out;
  .mainList {
    display: flex;
    flex-direction: column;
    .link {
      font-size: 28px;
      padding: 36px 5vw;
      border-bottom: var(--border);
    }
  }
  .secondList {
    display: flex;
    flex-direction: column;
    padding: 5vw 0;
    border-bottom: var(--border);
    .link {
      font-size: 18px;
      padding: 10px 5vw;
    }
  }
  .socialLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5vw 0;
    border-bottom: var(--border);
    .img {
      height: 28px;
    }
  }
}
.active {
  display: block;
}
// ===== Main
.mainAndCards {
  display: flex;
  flex-direction: column;
  z-index: -1;
  .main {
    .top {
      border-bottom: var(--border);
      margin-bottom: 16px;
      .title {
        margin-bottom: 16px;
        font-size: 40px;
        font-weight: 500;
        .newLine {
          display: block;
        }
        .regIcon {
          font-size: 16px;
          transform: translate(2px, -16px);
        }
      }
      .text {
        font-size: 16px;
        color: var(--color-secondary);
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 24px;
        span {
          font-style: italic;
        }
      }
    }
    .bottom {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .imgBlock {
        padding-right: 16px;
      }
      .textBlock {
        padding-left: 16px;
        border-left: var(--border);
        font-weight: 300;
        display: flex;
        justify-content: end;
        align-items: end;
        .text {
          font-size: 14px;
        }
      }
    }
  }
  .cards {
    border-top: var(--border);
    .card {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      position: relative;
      border-bottom: var(--border);
      overflow: hidden;
      height: 50vw;

      .text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .title {
          font-size: 24px;
          font-weight: 400;
          padding: 0 16px;
        }
        .shopNow {
          position: absolute;
          bottom: 10px;
          width: 100%;
          .link {
            font-size: 14px;
          }
          .link:hover {
            text-decoration: underline;
          }
          .arrowIcon {
            transition: all 0.2s ease-in-out;
          }
          .fa-arrow-right {
            transform: translate(4px, 3px);
          }
          .fa-arrow-left {
            transform: translate(-4px, 3px);
          }
        }
      }
      .imgBlock {
        overflow: hidden;
        .img {
          transition: all 0.4s ease-in-out;
          object-fit: cover;
          height: 100%;
        }
      }
      .right {
        border-left: var(--border);
      }
    }
    .card:hover .imgBlock .img {
      scale: 1.2;
    }
    .card:hover .text .fa-arrow-left {
      transform: translate(-10px, 3px);
    }
    .card:hover .text .fa-arrow-right {
      transform: translate(10px, 3px);
    }
  }
}
// ===== About Us
.aboutUs {
  display: flex;
  flex-direction: column;
  border-bottom: var(--border);
  .mainTitleBlock {
    border-bottom: var(--border);
    .mainTitle {
      font-size: 30px;
      font-weight: 700;
    }
  }
  .textBlock {
    .subtitle {
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 24px;
    }
    .title {
      font-size: 26px;
      font-weight: 400;
      margin-bottom: 16px;
    }
    .text {
      font-size: 16px;
      font-weight: 300;
      line-height: 140%;
      margin-bottom: 64px;
      color: var(--color-secondary);
    }
    .btn {
      padding: 16px 24px 14px;
      border: var(--border);
      display: block;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      width: 100%;
    }
  }
}
// ===== Why Choose Us
.whyUs {
  .mainTitleBlock {
    border-bottom: var(--border);
    .mainTitle {
      font-size: 30px;
      font-weight: 700;
    }
  }
  .cards {
    border-bottom: var(--border);
    .title {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 16px;
    }
    .text {
      color: var(--color-secondary);
      line-height: 140%;
      font-weight: 300;
    }
  }
}
// ===== Contacts
.contacts {
  .socialBlock {
    border-bottom: var(--border);
    .imgBlock {
      width: 100%;
      aspect-ratio: 1/1;
      overflow: hidden;
      .img {
        height: 100%;
        object-fit: cover;
      }
    }
    .socialLinksBlock {
      padding: 16px;
      .text {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 24px;
      }
      .socialIcons {
        display: flex;
        gap: 32px;
        align-items: stretch;
        a {
          height: 100%;
        }
        .img {
          height: 20px;
        }
      }
    }
  }
  .contactsInfo {
    .callUs {
      border-bottom: var(--border);
      .title {
        font-size: 34px;
        font-weight: 500;
        margin-bottom: 24px;
      }
      .text {
        font-size: 18px;
        margin-bottom: 16px;
      }
      .form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .telInput {
          padding: 12px 16px;
          color: #808080;
          border: 1px solid #d2d2d7;
        }
        .telInput:focus {
          outline: none;
        }
        .btn {
          border: none;
          padding: 16px 24px 14px;
          background-color: #000;
          color: white;
          font-weight: 300;
          font-size: 14px;
        }
      }
    }
    .contactInfoBlock {
      .subtitle {
        font-size: 24px;
        font-weight: 400;
        border-bottom: var(--border);
        padding: 16px;
      }
      .infoBlock {
        border-bottom: var(--border);
        .phones,
        .addressInfo {
          display: flex;
          flex-direction: column;
          gap: 16px;
          //   border-bottom: var(--border);
        }
        .phones {
          .phoneLink {
            font-weight: 500;
          }
          .phoneIcon {
            font-size: 14px;
            transform: translateY(1px);
            margin-right: 4px;
          }
        }
        .addressInfo {
          .time {
            font-size: 12px;
          }
          .address {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
          }
        }
      }
    }
  }
}
// ===== Our Service
.ourService {
  .mainTitle {
    font-size: 30px;
    font-weight: 700;
    border-bottom: var(--border);
  }
  .infoBlock {
    .imgBlock {
      width: 100%;
      height: 420px;
      overflow: hidden;
      .img {
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
    .textBlock {
      text-align: center;
      .subtitle {
        font-size: 12px;
        margin-bottom: 24px;
      }
      .title {
        font-size: 34px;
        font-weight: 500;
        margin-bottom: 24px;
      }
      .text {
        color: var(--color-secondary);
        line-height: 140%;
        margin-bottom: 64px;
      }
      .btn {
        padding: 16px 24px 14px;
        background-color: transparent;
        border: var(--border);
        width: 100%;
        font-weight: 400;
      }
    }
  }
}
// ===== Service 2
.serviceBgBlock {
  position: relative;
  .textBlock {
    text-align: center;
    .subtitle {
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 24px;
      color: white;
    }
    .title {
      color: white;
      font-size: 34px;
      font-weight: 500;
      margin-bottom: 16px;
    }
    .text {
      color: white;
      line-height: 140%;
      margin-bottom: 64px;
    }
    .btn {
      border: 2px solid #ffffffb5;
      color: white;
      background-color: transparent;
      width: 100%;
      padding: 16px 16px 14px;
    }
  }
  .bgImgContainer::before {
    content: '';
    background-image: url(/images/service_section.webp);
    z-index: -1;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
  }
  .bgImgContainer::after {
    content: '';
    background-color: #000;
    z-index: -1;
    height: 50vw;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
  }
}
// ===== Reviews
.reviewsWrap {
  padding: 0 16px;
  border-bottom: var(--border);
  .reviews {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    .logo {
      width: 77px;
      margin-bottom: 8px;
    }
    .subtitle {
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 24px;
    }
    .title {
      font-size: 34px;
      font-weight: 500;
      margin-bottom: 16px;
    }
    .oneReview {
      margin-bottom: 64px;
      .text {
        font-size: 22px;
        font-style: italic;
        font-weight: 300;
        margin-bottom: 16px;
      }
      .reviewer {
        font-size: 16px;
      }
    }
    .btnWrap {
      padding: 0 16px;
      width: 100%;
    }
    .link {
      border: var(--border);
      display: block;
      padding: 16px 24px 14px;
      font-size: 14px;
    }
  }
}
// ===== Footer
.footer {
  .card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-bottom: var(--border);
    // card1
    .text {
      line-height: 140%;
      font-weight: 300;
      span {
        display: block;
      }
    }
    .form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .input {
        color: #808080;
        font-size: 14px;
        padding: 12px 16px;
      }
      .btn {
        border: none;
        padding: 16px 24px 14px;
        background-color: #000;
        color: white;
        font-weight: 300;
        font-size: 14px;
      }
    }
    // card2
    .innerBlock {
      .title {
        margin-bottom: 16px;
      }
      .socialIcons {
        display: flex;
        gap: 32px;
        .img {
          height: 20px;
        }
      }
    }
    // card3
    .listEl {
      margin-bottom: 8px;
      .linkText {
        color: var(--color-primary);
      }
    }
    .listEl:last-child {
      margin: 0;
    }
    // global cards 2-4
    .title {
      color: #808080;
      font-size: 18px;
      font-weight: 400;
    }
    .innerBlock {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    .subtitle {
      color: #808080;
      font-size: 14px;
      font-weight: 400;
    }
    .linkText {
      font-style: normal;
      font-size: 14px;
      font-weight: 400;
    }
  }
  .card:last-child {
    border: none;
  }
}
// ===== ===== =====
// Media querys
// 768px+
@media screen and (min-width: 768px) {
  //   ===== Global padding
  .container {
    padding: 80px;
  }
  // ===== Header
  .header {
    height: 56px;
    .icon {
      width: 56px;
      height: 56px;
      font-size: 18px;
    }
  }
  // ===== Main
  .mainAndCards {
    .main {
      .top {
        margin-bottom: 24px;
        .title {
          font-size: 67px;
          .regIcon {
            font-size: 28px;
            transform: translate(3px, -22px);
          }
        }
        .text {
          font-size: 18px;
          margin-bottom: 54px;
        }
      }
      .bottom {
        .imgBlock {
          overflow: hidden;
          padding-right: 24px;
          height: 32vw;
        }
        .textBlock {
          padding-left: 24px;
        }
      }
    }
    .cards {
      .card {
        .text {
          .title {
            font-size: 38px;
          }
          .link {
            font-size: 16px;
          }
          .arrowIcon {
            font-size: 16px;
            transform: translateY(3px);
          }
        }
      }
    }
  }
  // ===== About Us
  .aboutUs {
    .mainTitleBlock {
      .mainTitle {
        font-size: 50px;
      }
    }
    .textBlock {
      .subtitle {
        font-size: 14px;
      }
      .title {
        font-size: 38px;
      }
      .btn {
        width: auto;
        display: inline-block;
      }
    }
  }
  // ===== Why Choose Us
  .whyUs {
    .mainTitleBlock {
      .mainTitle {
        font-size: 50px;
      }
    }
    .cards {
      .card {
        .title {
          font-size: 38px;
        }
      }
    }
  }
  // ===== Contacts
  .contacts {
    .socialBlock {
      .imgBlock {
        aspect-ratio: 3/2;
      }
    }
    .contactsInfo {
      .callUs {
        .title {
          font-size: 50px;
        }
        .form {
          display: flex;
          flex-direction: row;
          width: 100%;
          gap: 16px;
          .telInput {
            width: 100%;
          }
          .btn {
            width: 100%;
          }
        }
      }
      .contactInfoBlock {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        .infoBlock {
          .subtitle {
            font-size: 38px;
          }
          .addressInfo {
            .time {
              font-size: 14px;
            }
            .address {
              font-size: 16px;
            }
          }
        }
        .infoBlock:last-child {
          border-left: var(--border);
        }
      }
    }
  }
  // ===== Our Service
  .ourService {
    .mainTitle {
      font-size: 50px;
      text-align: center;
    }
    .infoBlock {
      .textBlock {
        .subtitle {
          font-size: 14px;
        }
        .title {
          font-size: 50px;
        }
        .text {
          font-size: 18px;
        }
        .btn {
          display: inline-block;
          width: auto;
          font-size: 16px;
        }
      }
    }
  }
  // ===== Service 2
  .serviceBgBlock {
    .textBlock {
      .subtitle {
        font-size: 14px;
      }
      .title {
        font-size: 50px;
      }
      .text {
        font-size: 18px;
      }
      .btn {
        display: inline-block;
        width: auto;
        font-size: 16px;
      }
    }
  }
  // ===== Reviews
  .reviewsWrap {
    .reviews {
      .subtitle {
        font-size: 14px;
      }
      .title {
        font-size: 50px;
      }
      .oneReview {
        .text {
          font-size: 28px;
        }
      }
      .btnWrap {
        width: auto;
      }
    }
  }
  // ===== Footer
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .card:nth-child(2n) {
      border-left: var(--border);
    }
    .card {
      gap: 24px;
      padding: 40px;
      .title {
        font-size: 21px;
      }
      .subtitle {
        font-size: 16px;
      }
      .linkText {
        font-size: 16px;
      }
    }
  }
}
// 1440px+
@media screen and (min-width: 1440px) {
  // ===== Header
  .header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: fixed;
    z-index: 20;
    background-color: #fff;
    top: 0;
    .mobile {
      display: none;
    }
    .left,
    .right {
      border: none;
      width: 25vw;
      text-align: center;
      .hidden {
        display: flex;
        justify-content: center;
        .desktopHeaderEl {
          width: 12.5vw;
          padding: 34px 32px;
          position: relative;
          overflow: hidden;
          // transition: all 0.5s ease-in-out;
          .linkNormal {
            position: absolute;
            padding: 4px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.2s ease-in-out;
          }
          .linkHover {
            position: absolute;
            padding: 4px;
            color: #808080;
            top: 150%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.3s ease-in-out;
          }
        }
        .desktopHeaderEl:hover {
          .linkHover {
            top: 50%;
            transform: translate(-50%, -50%);
          }
          .linkNormal {
            transform: translate(-50%, -100px);
          }
        }
      }
    }
    .left {
      grid-column-start: 1;
      .desktopHeaderEl {
        border-right: var(--border);
      }
    }
    .right {
      grid-column-start: 4;
      .desktopHeaderEl {
        border-left: var(--border);
      }
    }
  }
  // ===== Main + Cards
  .mainAndCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100vh;
    .main {
      height: 50vw;
      position: sticky;
      top: 0;
      overflow-y: auto;
      .bottom {
        .imgBlock {
          height: auto;
        }
      }
    }
    .cards {
      border-top: none;
      border-left: var(--border);
      height: 125vw;
      .card {
        height: 25vw;
      }
      .card:last-child {
        border-bottom: none;
      }
    }
  }
  // ===== About Us
  .aboutUs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: var(--border);
    .mainTitleBlock {
      border-bottom: none;
    }
    .textBlock {
      border-left: var(--border);
    }
  }
  // ===== Why Us
  .whyUs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .rightColumn {
      border-left: var(--border);
    }
  }
  // ===== Contacts
  .contacts {
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    height: 48vw;
    .socialBlock {
      width: 50vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-left: var(--border);
      .imgBlock {
        aspect-ratio: unset;
        height: auto;
      }
      .socialLinksBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        padding: 0;
        .text {
          width: 25vw;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;
        }
        .socialIcons {
          width: 25vw;
          justify-content: center;
          align-items: center;
          border-left: var(--border);
          padding: 20px 0;
        }
      }
    }
    .contactsInfo {
      width: 50vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .callUs {
        border: none;
      }
      .contactInfoBlock {
        border-top: var(--border);
      }
    }
  }
  // ===== Our Service
  .ourService {
    border-bottom: var(--border);
    .infoBlock {
      display: flex;
      height: 50vw;
      .imgBlock {
        height: 100%;
      }
      .textBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
  // ===== Service 2
  .serviceBgBlock {
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .textBlock {
      width: 750px;
    }
  }
  // ===== Reviews
  // ===== Footer
  .footer {
    grid-template-columns: repeat(4, 1fr);
    .card:nth-child(3) {
      border-left: var(--border);
    }
  }
}
